<footer class="page-footer" style="border-top: 1px solid #0b0b0b;height: 155px;">
    <div class="container">
        <div class="links"><a href="index">About me</a><a href="hire-me">Contact me</a><a href="projects">Projects</a></div>
        <div class="social-icon-row"><a class="social-icon" href="https://www.linkedin.com/in/willmcmahan/" target="_blank"><i class="icon ion-social-linkedin"></i></a></div>
    </div>
</footer>