<footer class="page-footer" style="border-top: 1px solid #0b0b0b;height: 155px;">
    <div class="container">
        <div class="links"><a href="index" style="color: var(--bs-light);">About me</a><a href="hire-me" style="color: var(--bs-light);">Contact me</a><a href="projects" style="color: var(--bs-light);">Projects</a></div>
        <div class="social-icons"><a href="https://www.linkedin.com/in/willmcmahan/" style="background: rgba(0,0,0,0);opacity: 1;border-bottom-color: rgb(255,255,255);" target="_blank"><i class="icon ion-social-linkedin"></i></a></div>
    </div>
</footer>