    <nav id="nav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/" style="color: var(--bs-light);">willmcmahan</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse m-auto" id="navbarNav" style="background: #000000;opacity: 0.98;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-light);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects" style="color: var(--bs-light);">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="resume" style="color: var(--bs-light);">Résumé</a></li>
                    <li class="nav-item"><a class="nav-link" href="hire-me" style="color: var(--bs-light);">Hire me</a></li>
                </ul>
            </div>
        </div>
    </nav>