    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>These are some of my most well-rounded projects on Github that can be presented as full projects. Not all projects are ever meant to reach an end goal or even truly be presentable but these can function independently as full-stack applications.</p>
        </div>

<!--         <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" id="portfolio-container" data-aos="fade-up" data-aos-delay="100">
        </div>

      </div>
    </section>