    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Software Developer with a passion for full stack development and creating clean, easy to read coding solutions.</p>
        </div>

        <div class="row">
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>1/2021 - Present</h5>
              <p><em>Dillard's Inc. </em></p>
              <ul>
                <li>Create and maintain backend services typically utilizing Java/Groovy and the Grails Framework.</li>
                <li>Leverage Z-Xing Library to build a dynamic QR code generation service.</li>
                <li>Create and update UI elements and pages with AngularJS, Angular, Bootstrap, and jQuery.</li>
                <li>Write unit and integration tests in Cypress.</li>
                <li>Day to day workflow leveraging Jira, Git, GitLab, Service Now, and G-Suite.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Information Technology Technician</h4>
              <h5>5/2017 - 12/2020</h5>
              <p><em>Southside School District</em></p>
              <ul>
                <li>Configure/maintain networking equipment.</li>
                <li>Troubleshoot hardware and software issues.</li>
                <li>Assist in project and upgrade planning.</li>
                <li>Implement solutions to solve tickets.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Junior Engineer</h4>
              <h5>1/2017 - 5/2017</h5>
              <p><em>Keystone Solutions</em></p>
              <ul>
                <li>Develop fax software that converts to pdf and sends via email.</li>
                <li>Configure video arraignment devices for clients.</li>
                <li>Assist in project planning and development.</li>
                <li>Provide network cabling and rack-management services.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor's - Computer Science</h4>
              <h5>2017 - 2018</h5>
              <p><em>Lyon College, Batesville, AR</em></p>
            </div>
            <div class="resume-item">
              <h4>Associate's - General Studies</h4>
              <h5>2014 - 2016</h5>
              <p><em>UACCB, Batesville, AR</em></p>
            </div>

            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Will McMahan</h4>
              <ul>
                <li>North Little Rock, Arkansas</li>
                <li>(870) 834-2407</li>
                <li>wmcmahan14@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>