    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Why me?</h2>
          <p>
          As a software developer utilizing modern languages and frameworks, I pride myself on my ability to learn and adapt to the everchanging technological landscape of the world today. I invite you to chat with me so we can address your business needs by leveraging modern technology.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bx-code-alt"></i></div>
            <h4 class="title"><a href="">Frontend Development</a></h4>
            <p class="description">
            What good is an efficient, clean backend if the user interface has no rhyme or reason? I prefer VueJS for my own creations but most of my professional experience is in favor of Angular and AngularJS. But, I can whip up something clean and minimal with just some Bootstrap too!
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-cog"></i></div>
            <h4 class="title"><a href="">Backend Solutions</a></h4>
            <p class="description">
            Solid professional experience creating backend services in Java while leveraging Spring Boot and the Grails Framework. However, I prefer to utilize NodeJS whenever possible. My favorite back end contribution to date was creating dynamic QR codes with links to job postings so company recruiters can generate business cards for jobs at college job fairs. All the recipient has to do is scan the code to go to the job posting online!
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-bulb"></i></div>
            <h4 class="title"><a href="">Forever a Student</a></h4>
            <p class="description">
            The best thing a developer can ever do is acknowledge that languages and frameworks are just tools for our toolbox. Being efficient, flexible, and open to learn are easily more important to me than my technical skills. I may prefer certain tools but I am always willing to learn how to use something new!
            </p>
          </div>
        </div>

      </div>
    </section>