#main {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.card {
  max-width: 800px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  margin: 0 1.5rem;
}

.github-avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background: var(--bs-blue);
  border-radius: 2em;
  font-size: 0.85em;
  padding: 0.25rem 0.5rem;
  margin-right: 0.65rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.repo:hover {
  text-decoration: none;
  color: rgb(201, 201, 201);
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}