@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    /* font-family: 'Poppins', sans-serif; */
}

#skillsDiv .organization {
  margin-right: 5px;
}

.modal-backdrop.show {
  opacity: 0.95;
}

#nav {
  position: fixed;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(rgb(0,0,0) 92%, rgb(11,11,11) 100%), rgba(67,67,67,0);
  opacity: 0.95;
  /* height: 85px; */
}

#nav.active {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item {
  padding-left: 5px;
}

.period {
  text-decoration: none;
}

