@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html {
    /* font-family: 'Poppins', sans-serif; */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 155px;
    /* bottom = footer height */
    /* padding: 25px; */
}

#skillsDiv .organization {
  margin-right: 5px;
}

.modal-backdrop.show {
  opacity: 0.95;
}

#nav {
  position: fixed;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(rgb(0,0,0) 92%, rgb(11,11,11) 100%), rgba(67,67,67,0);
  opacity: 0.95;
  /* height: 85px; */
}

#nav.active {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item {
  padding-left: 5px;
}

.form-check-input:checked {
    border-color: var(--bs-blue);
    background-color: var(--bs-blue);
}

.btn-outline-primary {
    color: var(--bs-blue);
    border-color: var(--bs-blue);
}

.btn-outline-primary:hover {
    color: var(--bs-light);
    background-color: var(--bs-blue);
}

.btn-primary {
    color: var(--bs-light);
    background-color: var(--bs-blue);
    border-color: var(--bs-blue);
}

.btn-primary:hover {
    background-color: #0961e4;
    border-color: #0961e4;
}

.btn-project-link {
    color: var(--bs-blue)
}

.btn-project-link:hover {
    color: #0961e4;
}

.projects-page {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 50px;
}

.projects-cards {
    margin: 50px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.projects-cards > .heading {
    padding-bottom: 50px;
}

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 500px;
    margin: 1rem;
    /* background-color: #0E0E10; */
    background-color: #1C1C1E;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: transform 1.5s 0s;
}

.project.hidden-left {
    transform: translateX(-100vw)
}

.project.hidden-right {
    transform: translateX(100vw)
}

.project.show-project {
    transform: translateX(0)
}

.project img {
    width: 100%;
    height: 250px;
}

.project-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    letter-spacing: 0.5px;
}

.project-info h3 {
    font-weight: 300;
    display: flex;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.project-info span {
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview {
    /* background-color: #0E0E10; */
    background-color: #1C1C1E;
    color: var(--bs-light);
    font-weight: 300;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y: auto;
}

.overview-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview-head a {
    cursor: pointer;
    font-size: 24px;
}

.overview-head a:last-of-type {
    margin-left: 10px;
}

.project-tech {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-tech p {
    text-decoration: none;
    color: #fff;
    background: var(--bs-blue);
    border-radius: 2em;
    font-size: 0.85em;
    padding: 0.25rem 0.5rem;
    margin-right: 0.65rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.project:hover .overview {
  transform: translateY(0);
}

.double-section {
    padding-top: 25px;
    /* min-height: 85vh; */
}

.image-container {
    margin: 0 5%;
    max-width: 2000px;
}

.carousel-photo {
    padding: 5px;
    transform: translateX(-150vw);
    overflow: hidden;
}

.carousel-photo.show:nth-of-type(1) {
    transition: transform 1s 0s;
    transform: translateX(0vw)
}

.carousel-photo.show:nth-of-type(2) {
    transition: transform 1.5s 0s;
    transform: translateX(0vw)
}

.carousel-photo.show:nth-of-type(3) {
    transition: transform 2s 0s;
    transform: translateX(0vw)
}

.call-to-action {
    display: flex;
    border-bottom: 1px solid #000000;
    align-items: center;
    justify-content: center;
}

.period {
  text-decoration: none;
}

.links > a {
    color: var(--bs-light);
    text-decoration: none;
}

.links > a:hover {
    color: rgb(201, 201, 201);
}

.social-icon-row {
    margin-top: 20px;
    margin-bottom: 16px;
}

.social-icon {
    font-size: 18px;
    margin: 0 3px;
    color: #fff !important;
    border: 1px solid;
    border-radius: 50%;
    width: 36px;
    display: inline-block;
    height: 36px;
    text-align: center;
    line-height: 34px;
    background: rgba(0,0,0,0);
    opacity: 1;
}

.social-icon:hover {
    color: rgb(201, 201, 201) !important;
    background-color: rgb(10, 10, 10) !important;
}

.page-footer {
    background-color: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    border-top: 1px solid #0b0b0b;
    height: 155px;
}
